@model Taxi.WebUI.ViewModels.GiveCarViewModel

@{
    ViewData["Title"] = "Give the car to the driver";
}

<h1>Give car</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="GiveCar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DriverLicenseNumber" class="control-label"></label>
                <input asp-for="DriverLicenseNumber" class="form-control" />
                <span asp-validation-for="DriverLicenseNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarGovernmentNumber" class="control-label"></label>
                <input asp-for="CarGovernmentNumber" class="form-control" />
                <span asp-validation-for="CarGovernmentNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Drivers">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
